<svg
  attr.viewBox = "0 0 {{maskWidth}} {{maskHeight}}">


  <g
    #holder
    class = kw-holder
    attr.clip-path= url(#{{uniqueId}}-mask)>
    <rect
      x = 0
      y = 0
      [attr.width] = maskWidth
      [attr.height] = maskHeight

      class = kw-back
      [style.fill] = bgColor/>

    <rect
      x = 0
      y = 0
      [attr.width] = maskWidth
      [attr.height] = maskHeight
      [style.transform] = position

      class = kw-front
      [style.transition] = "'transform ' + animationSecs + 's'"
      [style.fill] = frontColor/>
  </g>


  <clipPath
    #mask
    id = {{uniqueId}}-mask>
    <ng-content></ng-content>
  </clipPath>
</svg>