:host{
  text-align: center;
}

a{
  color: #14143e;
  text-decoration: none;
}

.holder{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 42px;
}

ng2-kw-masked-stack{
  margin: 16px;
  display: inline-block;
}

.dolphin-graph,
.triangle-graph,
.seahorse-graph,
.nemo-graph{
  width: 200px;
  height: 200px;
}