:host{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ng2-kw-masked-stack{
  margin: 16px;
  display: inline-block;
}

.shark-graph{
  width: 200px;
  height: 120px;
}

.triangle-graph{
  width: 200px;
  height: 200px;
}

.seahorse-graph{
  width: 200px;
  height: 200px;
}

.nemo-graph{
  width: 200px;
  height: 200px;
}