<ng2-kw-masked-stack
  [bgColor] = graphTop.bgColor
  [frontColor] = graphTop.frontColor
  
  [width] = graphTop.width
  [height] = graphTop.height

  [value] = graphTop.value
  [from] = graphTop.from>
</ng2-kw-masked-stack>


<ng2-kw-masked-stack
  [bgColor] = graphRight.bgColor
  [frontColor] = graphRight.frontColor
  
  [width] = graphRight.width
  [height] = graphRight.height

  [value] = graphRight.value
  [from] = graphRight.from>
</ng2-kw-masked-stack>


<ng2-kw-masked-stack
  [bgColor] = graphBottom.bgColor
  [frontColor] = graphBottom.frontColor
  
  [width] = graphBottom.width
  [height] = graphBottom.height

  [value] = graphBottom.value
  [from] = graphBottom.from>
</ng2-kw-masked-stack>


<ng2-kw-masked-stack
  [bgColor] = graphLeft.bgColor
  [frontColor] = graphLeft.frontColor
  
  [width] = graphLeft.width
  [height] = graphLeft.height

  [value] = graphLeft.value
  [from] = graphLeft.from>
</ng2-kw-masked-stack>